.website__header-content__text {
        padding-left: 3rem;
        padding-top: 25rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        color: white;
}

.website__header-content__text-greeting {
        font-size: 5vw;
        font-weight: 450;
}

.website__header-content__text-intro,
.website__header-content__text-intro__stick {
        font-size: 0.8vw;
}  

.website__header-content__text-intro__stick {
        height: 200px;
}

.website__header-content__text-intro__stick-swap {
        color: black;
}

@media only screen and (max-width: 440px) {
        .website__header-content__text {
                width: 35vw;
        }
}

@media only screen and (min-width: 1000px) {
        .website__header-content__text {
                width: 35vw;
        }
}