/* Section: Scrollbar properties
***********************************************************************************************************************************************************************************
*/
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 150px;
  background: white;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #797979;
}

/* Section: General properties
***********************************************************************************************************************************************************************************
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  caret-color: transparent; /* Removes carat/blinker from end of text */
  font-family: "Inter", sans-serif;
}
