:root {
    --bar-width: 40px;
    --bar-height: 5px;
    --hamburger-gap: 6px;
    --foreground: black;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 500ms ease-in;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --white: #ffffff;
    }